.container-item-card {
  background-color: #FFFFFF;
  box-shadow: 0 3px #F5717F;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 26px;
  margin-bottom: 116px;
  height: 387px;
  width: 256px;
}

.item-image{
  height: 190px;
  margin: 0;
  width: 100%;
}

.container-item-info {
  align-self: flex-start;
  margin-left: 14px;

}
.item-title {
  color: #345C7D;
}

.item-price {
  color: #BF6B84;

}

.container-star {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
.star {
  height: 23px;
  margin: 0;
  width: 23px;
}

.container-add-item {
  background-color:#F18D0E ;
  border-radius: 10px;
  -moz-box-shadow:    inset 0 0 10px #FFAD4D  ;
  -webkit-box-shadow: inset 0 0 10px #FFAD4D   ;
  box-shadow:         inset 0 0 10px #FFAD4D;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  height: 46px;
  margin-bottom: 17px;
  text-align: center;
  width: 227px;
}

.add-item {
  margin: 0;
  margin-top: 13px;
}
