.container-header {
  background-color: #F7B094;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 134px;
  width: 100%;
}

img {
  margin-left: 29px;
}

.container-search {
  width: 651px;
  height: 52px;
}

.input-search {
  background-color: #FFFFFF;
  border: #FFFFFF 0 solid;
}

.input-search:focus{
  box-shadow: none !important;
}

.button-search {
background-color: #FFFFFF;
border: #FFFFFF 0 solid;
color: #345C7D;
font-weight: bold;
}
.button-search:focus{
  box-shadow: none !important;
  background-color: #FFFFFF;
  color: #345C7D;
}
.button-search:hover{
  background-color: #FFFFFF;
  color: #345C7D;

}

.ellipse {
  background-color: #F5717F;
  border-radius: 50%;
  display: inline-block;
  width: 42px;
  height: 41px;
}

.cart {
  margin-right: 53px;
  margin-left: 40px;
}