.container-header {
  background-color: #F7B094;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 134px;
  width: 100%;
}

img {
  margin-left: 29px;
}

.container-search {
  width: 651px;
  height: 52px;
}
input {
  border: #FFFFFF 0 solid;
  border-radius: 5px 0 0 5px;
  padding: 0;
  width: 80%;
  height: 100%;
  padding-left: 20px;
}

button {
background-color: #FFFFFF 0 solid;
border-radius: 0 5px 5px 0;
color: #345C7D;
font-weight: bold;
height: 100%;
padding-right: 20px;
}

.ellipse {
  background-color: #F5717F;
  border-radius: 50%;
  display: inline-block;
  width: 42px;
  height: 41px;
}

.cart {
  margin-right: 53px;
  margin-left: 40px;
}